body {
  background-image: url("http://wallpapercave.com/wp/n75i9SX.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  padding: 15px 15px;
  margin: 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 9px 19px 0 rgba(24, 21, 21, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
