<body>
  <div class="add-flight-container">
    <h1>Add Flight</h1>
    <div class="add-flight">
      <img
        src="https://i.pinimg.com/originals/1b/de/6c/1bde6ca40dd25bfa8760d4a4ed46e908.png"
        alt="image"
        class="image"
        width="290"
        height="700"
        align="right"
      />
      <form (ngSubmit)="onSubmit()" class="form-container" align="left">
        <div class="form-group">
          <label for="airline">Airline:</label>
          <input
            type="text"
            id="airline"
            name="airline"
            class="form-control"
            [(ngModel)]="formData.airline"
            placeholder="Enter airline"
          />
        </div>
        <div class="form-group">
          <label for="flightNumber">Flight Number:</label>
          <input
            type="text"
            id="flightNumber"
            name="flightNumber"
            class="form-control"
            [(ngModel)]="formData.flightNumber"
            placeholder="Enter flight number"
          />
        </div>
        <div class="form-group">
          <label for="origin">Origin:</label>
          <input
            type="text"
            id="origin"
            name="origin"
            class="form-control"
            [(ngModel)]="formData.origin"
            placeholder="Enter origin"
          />
        </div>
        <div class="form-group">
          <label for="destination">Destination:</label>
          <input
            type="text"
            id="destination"
            name="destination"
            class="form-control"
            [(ngModel)]="formData.destination"
            placeholder="Enter destination"
          />
        </div>
        <div class="form-group">
          <label for="departureTime">Departure Time:</label>
          <input
            type="time"
            id="departureTime"
            name="departureTime"
            class="form-control"
            [(ngModel)]="formData.departureTime"
            placeholder="Select departure time"
          />
        </div>
        <div class="form-group">
          <label for="arrivalTime">Arrival Time:</label>
          <input
            type="time"
            id="arrivalTime"
            name="arrivalTime"
            class="form-control"
            [(ngModel)]="formData.arrivalTime"
            placeholder="Select arrival time"
          />
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            id="price"
            name="price"
            class="form-control"
            [(ngModel)]="formData.price"
            placeholder="Enter price"
          />
        </div>
        <div class="form-group">
          <label for="seatsAvailable">Seats Available:</label>
          <input
            type="number"
            id="seatsAvailable"
            name="seatsAvailable"
            class="form-control"
            [(ngModel)]="formData.seatsAvailable"
            placeholder="Enter seats available"
          />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</body>
